[data-theme-name="fluid"] {
  /* colors */
  /* text */
  --color-text-primary: var(--color-gray-100);
  --color-text-secondary: var(--color-gray-60);
  --color-text-inverted: var(--color-white);
  --color-text-info: var(--color-info-darker);
  --color-text-success: var(--color-success-darker);
  --color-text-warning: var(--color-warning-darker);
  --color-text-danger: var(--color-danger-darker);
  --color-text-debug: var(--color-debug-darker);
  /* primary */
  --color-primary-main: var(--color-blue-70);
  --color-primary-lighter: var(--color-blue-60);
  --color-primary-light: var(--color-blue-50);
  --color-primary-darker: var(--color-blue-80);
  --color-primary-dark: var(--color-blue-90);
  /* secondary */
  --color-secondary-main: var(--color-gray-80);
  --color-secondary-lighter: var(--color-gray-70);
  --color-secondary-light: var(--color-gray-60);
  --color-secondary-darker: var(--color-gray-90);
  --color-secondary-dark: var(--color-gray-100);
  /* info */
  --color-info-main: var(--color-blue-70);
  --color-info-lighter: var(--color-blue-60);
  --color-info-light: var(--color-blue-50);
  --color-info-darker: var(--color-blue-80);
  --color-info-dark: var(--color-blue-90);
  /* success */
  --color-success-main: var(--color-green-60);
  --color-success-lighter: var(--color-green-50);
  --color-success-light: var(--color-green-40);
  --color-success-darker: var(--color-green-70);
  --color-success-dark: var(--color-green-80);
  /* warning */
  --color-warning-main: var(--color-orange-60);
  --color-warning-lighter: var(--color-orange-50);
  --color-warning-light: var(--color-orange-40);
  --color-warning-darker: var(--color-orange-70);
  --color-warning-dark: var(--color-orange-80);
  /* danger */
  --color-danger-main: var(--color-red-60);
  --color-danger-lighter: var(--color-red-50);
  --color-danger-light: var(--color-red-40);
  --color-danger-darker: var(--color-red-70);
  --color-danger-dark: var(--color-red-80);
  /* debug */
  --color-debug-main: var(--color-purple-60);
  --color-debug-lighter: var(--color-purple-50);
  --color-debug-light: var(--color-purple-40);
  --color-debug-darker: var(--color-purple-70);
  --color-debug-dark: var(--color-purple-80);
  /* surface */
  --color-surface-blank: var(--color-white);
  --color-surface-focus: var(--color-gray-80);
  --color-surface-10: var(--color-gray-10);
  --color-surface-20: var(--color-gray-20);
  --color-surface-30: var(--color-gray-30);
  --color-surface-40: var(--color-gray-40);

  /* typography */
  /* fonts */
  --font-display: "Poppins", sans-serif;
  --font-display--weight: 500;
  --font-sans: "Inter Variable", sans-serif;
  /* variants */
  --text-body: 0.875rem;
  --text-caption: 0.75rem;
  /* headings */
  --text-h1: 2.2rem;
  --text-h1--line-height: 1.2;
  --text-h1--weight: 600;
  --text-h2: 1.8rem;
  --text-h2--line-height: 1.3;
  --text-h2--weight: 500;
  --text-h3: 1.4rem;
  --text-h3--line-height: 1.35;
  --text-h3--weight: 500;
  --text-h4: 1.3rem;
  --text-h4--line-height: 1.4;
  --text-h4--weight: 400;
  --text-h5: 1.2rem;
  --text-h5--line-height: 1.45;
  --text-h5--weight: 400;
  --text-h6: 1.1rem;
  --text-h6--line-height: 1.5;
  --text-h6--weight: 400;

  /* spacing */
  --spacing: 4px;
}