[data-theme-name="fluid"] .button {
  @apply text-body inline-flex text-start font-sans cursor-pointer border border-transparent flex-shrink-0 relative max-w-[20rem] select-none gap-2;
}

[data-theme-name="fluid"] .button-label {
  @apply cursor-pointer;
}

[data-theme-name="fluid"] .button:focus  {
  @apply outline-offset-1 outline-2 outline-surface-focus;
  z-index: 1000;
}

[data-theme-name="fluid"] .button:active  {
  @apply outline-offset-1 outline-2 outline-surface-focus;
  z-index: 1000;
}

[data-theme-name="fluid"] .button-icon {
  @apply flex items-center justify-center absolute mt-[2px];
  inset-inline-end: 1rem;
}

/* Variants */

[data-theme-name="fluid"] .button-filled-primary {
  @apply bg-primary-main text-text-inverted hover:bg-primary-darker active:bg-primary-dark;
}

[data-theme-name="fluid"] .button-filled-primary-active {
  @apply bg-primary-dark text-text-inverted;
}

[data-theme-name="fluid"] .button-filled-secondary {
  @apply bg-secondary-main text-text-inverted hover:bg-secondary-darker active:bg-secondary-dark;
}

[data-theme-name="fluid"] .button-filled-secondary-active {
  @apply bg-secondary-dark text-text-inverted;
}

[data-theme-name="fluid"] .button-filled-info {
  @apply bg-info-main text-text-inverted hover:bg-info-darker active:bg-info-dark;
}

[data-theme-name="fluid"] .button-filled-info-active {
  @apply bg-info-dark text-text-inverted;
}

[data-theme-name="fluid"] .button-filled-success {
  @apply bg-success-main text-text-inverted hover:bg-success-darker active:bg-success-dark;
}

[data-theme-name="fluid"] .button-filled-success-active {
  @apply bg-success-dark text-text-inverted;
}

[data-theme-name="fluid"] .button-filled-warning {
  @apply bg-warning-main text-text-inverted hover:bg-warning-darker active:bg-warning-dark;
}

[data-theme-name="fluid"] .button-filled-warning-active {
  @apply bg-warning-dark text-text-inverted;
}

[data-theme-name="fluid"] .button-filled-danger {
  @apply bg-danger-main text-text-inverted hover:bg-danger-darker active:bg-danger-dark;
}

[data-theme-name="fluid"] .button-filled-danger-active {
  @apply bg-danger-dark text-text-inverted;
}

[data-theme-name="fluid"] .button-outline-primary {
  @apply border border-primary-main text-primary-main hover:bg-primary-main hover:text-text-inverted active:bg-primary-darker;
}

[data-theme-name="fluid"] .button-outline-primary-active {
  @apply bg-primary-darker text-text-inverted border-primary-darker;
}

[data-theme-name="fluid"] .button-outline-secondary {
  @apply border border-secondary-main text-secondary-main hover:bg-secondary-main hover:text-text-inverted active:bg-secondary-darker;
}

[data-theme-name="fluid"] .button-outline-secondary-active {
  @apply bg-secondary-darker text-text-inverted border-secondary-darker;
}

[data-theme-name="fluid"] .button-outline-info {
  @apply border border-info-main text-info-main hover:bg-info-main hover:text-text-inverted active:bg-info-darker;
}

[data-theme-name="fluid"] .button-outline-info-active {
  @apply bg-info-darker text-text-inverted border-info-darker;
}

[data-theme-name="fluid"] .button-outline-success {
  @apply border border-success-main text-success-main hover:bg-success-main hover:text-text-inverted active:bg-success-darker;
}

[data-theme-name="fluid"] .button-outline-success-active {
  @apply bg-success-darker text-text-inverted border-success-darker;
}

[data-theme-name="fluid"] .button-outline-warning {
  @apply border border-warning-main text-warning-main hover:bg-warning-main hover:text-text-inverted active:bg-warning-darker;
}

[data-theme-name="fluid"] .button-outline-warning-active {
  @apply bg-warning-darker text-text-inverted border-warning-darker;
}

[data-theme-name="fluid"] .button-outline-danger {
  @apply border border-danger-main text-danger-main hover:bg-danger-main hover:text-text-inverted active:bg-danger-darker;
}

[data-theme-name="fluid"] .button-outline-danger-active {
  @apply bg-danger-darker text-text-inverted border-danger-darker;
}

[data-theme-name="fluid"] .button-light-primary {
  @apply bg-surface-10 text-primary-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .button-light-primary-active {
  @apply bg-surface-30 text-primary-main;
}

[data-theme-name="fluid"] .button-light-secondary {
  @apply bg-surface-10 text-secondary-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .button-light-secondary-active {
  @apply bg-surface-30 text-secondary-main;
}

[data-theme-name="fluid"] .button-light-info {
  @apply bg-surface-10 text-info-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .button-light-info-active {
  @apply bg-surface-30 text-info-main;
}

[data-theme-name="fluid"] .button-light-success {
  @apply bg-surface-10 text-success-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .button-light-success-active {
  @apply bg-surface-30 text-success-main;
}

[data-theme-name="fluid"] .button-light-warning {
  @apply bg-surface-10 text-warning-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .button-light-warning-active {
  @apply bg-surface-30 text-warning-main;
}

[data-theme-name="fluid"] .button-light-danger {
  @apply bg-surface-10 text-danger-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .button-light-danger-active {
  @apply bg-surface-30 text-danger-main;
}

[data-theme-name="fluid"] .button-ghost-primary {
  @apply bg-transparent text-primary-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .button-ghost-primary-active {
  @apply bg-surface-20 text-primary-main;
}

[data-theme-name="fluid"] .button-ghost-secondary {
  @apply bg-transparent text-secondary-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .button-ghost-secondary-active {
  @apply bg-surface-20 text-secondary-main;
}

[data-theme-name="fluid"] .button-ghost-info {
  @apply bg-transparent text-info-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .button-ghost-info-active {
  @apply bg-surface-20 text-info-main;
}

[data-theme-name="fluid"] .button-ghost-success {
  @apply bg-transparent text-success-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .button-ghost-success-active {
  @apply bg-surface-20 text-success-main;
}

[data-theme-name="fluid"] .button-ghost-warning {
  @apply bg-transparent text-warning-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .button-ghost-warning-active {
  @apply bg-surface-20 text-warning-main;
}

[data-theme-name="fluid"] .button-ghost-danger {
  @apply bg-transparent text-danger-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .button-ghost-danger-active {
  @apply bg-surface-20 text-danger-main;
}

/* Sizes */

[data-theme-name="fluid"] .button-xs {
  @apply pt-[4px] pr-[40px] pb-[4px] pl-[16px];
}

[data-theme-name="fluid"] .button-sm {
  @apply pt-[8px] pr-[60px] pb-[8px] pl-[16px];
}

[data-theme-name="fluid"] .button-md {
  @apply pt-[11.5px] pr-[60px] pb-[11.5px] pl-[16px];
}

[data-theme-name="fluid"] .button-lg {
  @apply pt-[13.5px] pr-[60px] pb-[13.5px] pl-[16px];
}

[data-theme-name="fluid"] .button-xl {
  @apply min-h-[4rem] pt-[14px] pr-[60px] pb-[14px] pl-[16px];
}

/* States */

[data-theme-name="fluid"] .button-disabled {
  @apply bg-surface-10 text-gray-400 border-none cursor-not-allowed opacity-50;
}

