[data-theme-name="fluid"] .colorPicker {
  @apply relative inline-block;
  border-radius: 50%;
}

[data-theme-name="fluid"] .colorPicker-trigger {
  @apply h-5 w-5 border border-surface-40 p-[2px] cursor-pointer;
  outline-offset: -1px;
  border-radius: 50%;
}

[data-theme-name="fluid"] .colorPicker-trigger:focus {
  @apply border-transparent outline-[2px] outline-surface-focus;
}

[data-theme-name="fluid"] .colorPicker-trigger:active {
  @apply border-transparent outline-[2px] outline-surface-focus;
}

[data-theme-name="fluid"] .colorPicker-swatch {
  @apply h-full w-full;
  border-radius: 50%;
}

[data-theme-name="fluid"] .colorPicker-dropdown {
  @apply absolute left-0 top-full z-50 mt-1 w-64 border border-surface-30 
    bg-surface-10;
}

[data-theme-name="fluid"] .colorPicker-saturation {
  @apply relative h-40 w-full cursor-crosshair;
  background-image: linear-gradient(to top, #000, transparent),
                  linear-gradient(to right, #fff, transparent);
}

[data-theme-name="fluid"] .colorPicker-saturation-pointer {
  @apply absolute h-4 w-4 -translate-x-1/2 -translate-y-1/2 rounded-full 
    border-2 border-white shadow-md outline-1 outline-surface-40;
}

[data-theme-name="fluid"] .colorPicker-controls {
  @apply space-y-4 p-4 border-t-1 border-surface-20;
}

[data-theme-name="fluid"] .colorPicker-hue {
  @apply w-full rounded-full !h-4;
  background: linear-gradient(to right, 
    #f00 0%, #ff0 17%, #0f0 33%,
    #0ff 50%, #00f 67%, #f0f 83%, #f00 100%
  );
}

[data-theme-name="fluid"] .colorPicker-track {
  @apply !bg-transparent;
}

[data-theme-name="fluid"] .colorPicker-fill {
  @apply !bg-transparent;
}

[data-theme-name="fluid"] .colorPicker-thumb {
  @apply !bg-transparent border-2 border-white !w-3 !h-3 outline-1 outline-surface-40;
}

[data-theme-name="fluid"] .colorPicker-alpha {
  @apply !h-4 w-full rounded-full relative outline outline-surface-30;
  outline-offset: -1px;
  background-image: 
    linear-gradient(45deg, #80808080 25%, transparent 25%), 
    linear-gradient(-45deg, #80808080 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #80808080 75%), 
    linear-gradient(-45deg, transparent 75%, #80808080 75%);
  background-size: 8px 8px;
  background-position: 0 0, 0 4px, 4px -4px, -4px 0px;
}

[data-theme-name="fluid"] .colorPicker-alpha::before {
  @apply rounded-full;
  inset: 0;
  content: "";
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--color-text-primary));
}

[data-theme-name="fluid"] .colorPicker-info {
  @apply mt-4;
}

[data-theme-name="fluid"] .colorPicker-value {
  @apply flex justify-between items-center ml-4 mr-2 mb-2 font-sans text-body text-text-secondary;
}

[data-theme-name="fluid"] .colorPicker-disabled {
  @apply cursor-not-allowed opacity-50;
}
