[data-theme-name="fluid"] .dialog {
  @apply fixed min-w-[320px] min-h-[150px] max-w-screen max-h-screen bg-surface-10 flex flex-col border border-text-inverted overflow-visible;
}

[data-theme-name="fluid"] .dialog-layer::-webkit-resizer {
  @apply pointer-events-none absolute bg-transparent border-b-2 border-r-2 border-surface-20;
}

[data-theme-name="fluid"] .dialog-layer::-webkit-resizer::before {
  content: '';
  @apply absolute bottom-0 right-0 w-[10px] h-[10px] bg-transparent border-b-2 border-r-2 border-surface-20 rotate-45;
}

[data-theme-name="fluid"] .dialog-overlay {
  @apply fixed inset-0 w-screen h-screen bg-black/80;
}

[data-theme-name="fluid"] .dialog-header {
  @apply flex items-center justify-between bg-surface-10 min-h-[48px] select-none gap-4 w-auto;
}

[data-theme-name="fluid"] .dialog-label {
  @apply ml-4 mt-3 mb-3 font-sans text-h6 text-text-primary;
}

[data-theme-name="fluid"] .dialog-buttons {
  @apply relative flex;
}

[data-theme-name="fluid"] .dialog-buttons:focus {
  @apply outline-[2px] outline-offset-[-2px] outline-gray-80;
}

[data-theme-name="fluid"] .dialog-layer {
  @apply !flex !flex-col !flex-grow !mt-0 !pt-0 !pb-4 overflow-auto;
}

[data-theme-name="fluid"] .dialog-content {
  @apply flex-grow;
}

[data-theme-name="fluid"] .dialog-stack {
  @apply flex justify-between;
}

[data-theme-name="fluid"] .dialog-actions {
  @apply flex pt-0 pb-0 gap-4;
}

/* scrollbar */
[data-theme-name="fluid"] .dialog-layer::-webkit-scrollbar {
  @apply w-[8px];
}

[data-theme-name="fluid"] .dialog-layer::-webkit-scrollbar-track {
  @apply bg-none;
}

[data-theme-name="fluid"] .dialog-layer::-webkit-scrollbar-thumb {
  @apply bg-surface-focus border-1 border-surface-10 border-solid;
  border-left-width: 4px;
}

[data-theme-name="fluid"] .dialog-layer::-webkit-scrollbar-thumb:hover {
  @apply bg-text-primary rounded-none border-surface-10;
  border-left-width: 0px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
}