[data-theme-name="fluid"] .iconButton {
  @apply inline-flex cursor-pointer border border-transparent flex-shrink-0 relative select-none;
}

[data-theme-name="fluid"] .iconButton:focus {
  @apply outline-offset-1 outline-2 outline-surface-focus;
  z-index: 1000;
}

[data-theme-name="fluid"] .iconButton:active  {
  @apply outline-offset-1 outline-2 outline-surface-focus;
  z-index: 1000;
}

/* Variants */

[data-theme-name="fluid"] .iconButton-filled-primary {
  @apply bg-primary-main text-text-inverted hover:bg-primary-darker active:bg-primary-dark;
}

[data-theme-name="fluid"] .iconButton-filled-primary-active {
  @apply bg-primary-dark text-text-inverted;
}

[data-theme-name="fluid"] .iconButton-filled-secondary {
  @apply bg-secondary-main text-text-inverted hover:bg-secondary-darker active:bg-secondary-dark;
}

[data-theme-name="fluid"] .iconButton-filled-secondary-active {
  @apply bg-secondary-dark text-text-inverted;
}

[data-theme-name="fluid"] .iconButton-filled-info {
  @apply bg-info-main text-text-inverted hover:bg-info-darker active:bg-info-dark;
}

[data-theme-name="fluid"] .iconButton-filled-info-active {
  @apply bg-primary-dark text-text-inverted;
}

[data-theme-name="fluid"] .iconButton-filled-success {
  @apply bg-success-main text-text-inverted hover:bg-success-darker active:bg-success-dark;
}

[data-theme-name="fluid"] .iconButton-filled-success-active {
  @apply bg-success-dark text-text-inverted;
}

[data-theme-name="fluid"] .iconButton-filled-warning {
  @apply bg-warning-main text-text-inverted hover:bg-warning-darker active:bg-warning-dark;
}

[data-theme-name="fluid"] .iconButton-filled-warning-active {
  @apply bg-warning-dark text-text-inverted;
}

[data-theme-name="fluid"] .iconButton-filled-danger {
  @apply bg-danger-main text-text-inverted hover:bg-danger-darker active:bg-danger-dark;
}

[data-theme-name="fluid"] .iconButton-filled-danger-active {
  @apply bg-danger-dark text-text-inverted;
}

[data-theme-name="fluid"] .iconButton-filled-debug {
  @apply bg-debug-main text-text-inverted hover:bg-debug-darker active:bg-debug-dark;
}

[data-theme-name="fluid"] .iconButton-filled-debug-active {
  @apply bg-debug-dark text-text-inverted;
}

[data-theme-name="fluid"] .iconButton-outline-primary {
  @apply border border-primary-main text-primary-main hover:bg-primary-main hover:text-text-inverted active:bg-primary-darker;
}

[data-theme-name="fluid"] .iconButton-outline-primary-active {
  @apply bg-primary-darker text-text-inverted border-primary-darker;
}

[data-theme-name="fluid"] .iconButton-outline-secondary {
  @apply border border-secondary-main text-secondary-main hover:bg-secondary-main hover:text-text-inverted active:bg-secondary-darker;
}

[data-theme-name="fluid"] .iconButton-outline-secondary-active {
  @apply bg-secondary-darker text-text-inverted border-secondary-darker;
}

[data-theme-name="fluid"] .iconButton-outline-info {
  @apply border border-info-main text-info-main hover:bg-info-main hover:text-text-inverted active:bg-info-darker;
}

[data-theme-name="fluid"] .iconButton-outline-info-active {
  @apply bg-info-darker text-text-inverted border-info-darker;
}

[data-theme-name="fluid"] .iconButton-outline-success {
  @apply border border-success-main text-success-main hover:bg-success-main hover:text-text-inverted active:bg-success-darker;
}

[data-theme-name="fluid"] .iconButton-outline-success-active {
  @apply bg-success-darker text-text-inverted border-success-darker;
}

[data-theme-name="fluid"] .iconButton-outline-warning {
  @apply border border-warning-main text-warning-main hover:bg-warning-main hover:text-text-inverted active:bg-warning-darker;
}

[data-theme-name="fluid"] .iconButton-outline-warning-active {
  @apply bg-warning-darker text-text-inverted border-warning-darker;
}

[data-theme-name="fluid"] .iconButton-outline-danger {
  @apply border border-danger-main text-danger-main hover:bg-danger-main hover:text-text-inverted active:bg-danger-darker;
}

[data-theme-name="fluid"] .iconButton-outline-danger-active {
  @apply bg-danger-darker text-text-inverted border-danger-darker;
}

[data-theme-name="fluid"] .iconButton-outline-debug {
  @apply border border-debug-main text-debug-main hover:bg-debug-main hover:text-text-inverted active:bg-debug-darker;
}

[data-theme-name="fluid"] .iconButton-outline-debug-active {
  @apply bg-debug-darker text-text-inverted border-debug-darker;
}

[data-theme-name="fluid"] .iconButton-light-primary {
  @apply bg-surface-10 text-primary-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .iconButton-light-primary-active {
  @apply bg-surface-30 text-primary-main;
}

[data-theme-name="fluid"] .iconButton-light-secondary {
  @apply bg-surface-10 text-secondary-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .iconButton-light-secondary-active {
  @apply bg-surface-30 text-secondary-main;
}

[data-theme-name="fluid"] .iconButton-light-info {
  @apply bg-surface-10 text-info-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .iconButton-light-info-active {
  @apply bg-surface-30 text-info-main;
}

[data-theme-name="fluid"] .iconButton-light-success {
  @apply bg-surface-10 text-success-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .iconButton-light-success-active {
  @apply bg-surface-30 text-success-main;
}

[data-theme-name="fluid"] .iconButton-light-warning {
  @apply bg-surface-10 text-warning-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .iconButton-light-warning-active {
  @apply bg-surface-30 text-warning-main;
}

[data-theme-name="fluid"] .iconButton-light-danger {
  @apply bg-surface-10 text-danger-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .iconButton-light-danger-active {
  @apply bg-surface-30 text-danger-main;
}

[data-theme-name="fluid"] .iconButton-light-debug {
  @apply bg-surface-10 text-debug-main hover:bg-surface-20 active:bg-surface-30;
}

[data-theme-name="fluid"] .iconButton-light-debug-active {
  @apply bg-surface-30 text-debug-main;
}

[data-theme-name="fluid"] .iconButton-ghost-primary {
  @apply bg-transparent text-primary-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .iconButton-ghost-primary-active {
  @apply bg-surface-20 text-primary-main;
}

[data-theme-name="fluid"] .iconButton-ghost-secondary {
  @apply bg-transparent text-secondary-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .iconButton-ghost-secondary-active {
  @apply bg-surface-20 text-secondary-main;
}

[data-theme-name="fluid"] .iconButton-ghost-info {
  @apply bg-transparent text-info-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .iconButton-ghost-info-active {
  @apply bg-surface-20 text-info-main;
}

[data-theme-name="fluid"] .iconButton-ghost-success {
  @apply bg-transparent text-success-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .iconButton-ghost-success-active {
  @apply bg-surface-20 text-success-main;
}

[data-theme-name="fluid"] .iconButton-ghost-warning {
  @apply bg-transparent text-warning-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .iconButton-ghost-warning-active {
  @apply bg-surface-20 text-warning-main;
}

[data-theme-name="fluid"] .iconButton-ghost-danger {
  @apply bg-transparent text-danger-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .iconButton-ghost-danger-active {
  @apply bg-surface-20 text-danger-main;
}

[data-theme-name="fluid"] .iconButton-ghost-debug {
  @apply bg-transparent text-debug-main hover:bg-surface-10 active:bg-surface-20;
}

[data-theme-name="fluid"] .iconButton-ghost-debug-active {
  @apply bg-surface-20 text-debug-main;
}

/* Sizes */

[data-theme-name="fluid"] .iconButton-xs {
  padding: 6.5px;
}

[data-theme-name="fluid"] .iconButton-sm {
  padding: 10.5px;
}

[data-theme-name="fluid"] .iconButton-md {
  padding: 14px;
}

[data-theme-name="fluid"] .iconButton-lg {
  padding: 14.5px;
}

[data-theme-name="fluid"] .iconButton-xl {
  padding: 12.5px;
}

/* States */

[data-theme-name="fluid"] .iconButton-disabled {
  @apply bg-surface-10 text-gray-400 cursor-not-allowed opacity-50;
}
